doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Firefox OS Bug Squash party

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    
    img#tail(src='images/background.png')

    article

      section
        h1.bullet Firefox OS<br />Bug Squash<br /><span class="bullet party"> PARTY</span>

      section
        h1.bullet Welcome!
        h2.bullet Thanks for coming =)
        h3.bullet This is an exciting day for the UK Firefox OS community!<span class="bullet">!!!11111oneoneoneoneeleven</span>

      section
        h2.bullet but before we start...


      section
        h1.bullet HEALTH AND SAFETY
        ul
          li No smoking anywhere on the building
          li There are fire exits
          li Use them if there's a fire
          li Don't use the lift
          li There are also bathrooms
          li Feel free to use them too

      section
        h1.bullet CODE OF CONDUCT
        h2.bullet Don't be a jerk

      section
        h1.bullet This is a safe space
        h2.bullet We're here to learn and help each other
        ul
          li Feel free to ask any questions
          li No question is too silly
          li Respect other people's questions
          li Respect other people's background
          li Don't make assumptions&mdash;always ask
          li If someone asks you to stop doing something... <span class="bullet">stop doing it!</span>

      section
        h1.bullet NOT acceptable
        ul
          li Sexist, racist, offensive comments/jokes/imagery
          li Harassment of ANY kind

      section
        h2.bullet We're building a community together
        h3.bullet Good communities are made of diverse people
        ul
          li Developers
          li Designers
          li Testers
          li Users
          li Fans!

      section
        h1.bullet Anyone violating these rules will be sanctioned or expelled at our discretion


      section
        h1.bullet Need help?
        h2.bullet Speak to any of us

      section
        h1.bullet MozLDN CODE
        h2.bullet Don't be gross
        ul
          li Clean after yourself
          li Pick your rubbish
          li Recycle!
          li Grab snacks <span class="bullet">(but don't be a hoarder)</span>
          li Be eco: filtered tap water!

      section
        img(src='images/cool.gif', style='width: 450px; height: auto')
      section
        h1.bullet so... <span class="bullet">Firefox OS</span><span class="bullet">, huh?</span>

      section
        h2.bullet "Mozilla's mobile OS built on top of web standards"<span class="bullet"><small><em>, yadda, yadda...</em></small></span>

      section
        img(src='images/huh.gif', style='width: 450px; height: auto')


      section
        h2.bullet Essentially Firefox running on Linux on a phone
        h2.bullet with the UI &amp; apps built with HTML+JS+CSS
        h2.bullet and new cool Web APIs that work like all other APIs

      section
        h2 ... so if you are a web developer, you can be a Firefox OS developer too!

      section
        img(src='images/thebest.gif', style='width: 1000px; height: auto')

      section
        h1.bullet Firefox OS layers
        ul
          li Gonk
          li Gecko
          li Gaia

      section
        img(src='images/Firefox-OS-layers.png', style='width: 450px; height: auto')

      section
        img(src='images/doors.gif', style='width: 450px; height: auto')

      section
        h1.bullet Expectations
        h2.bullet We'll focus on Gaia
        h3.bullet and...
        ul
          li set up development environment
          li learn how to navigate Gaia codebase
          li push your changes to a phone!
          li identify and report bugs

      section
        h1.bullet Reality
        img(src='images/dogeidea.jpg', style='width: 400px; height: auto')
      section
        h1.bullet It's OK.
        h2.bullet You/We'll do better next time.


      section
        h1.bullet Schedule
        ul
          li 10:30 amateur stand up comedy with animated GIFs <span class="bullet">(sole)</span>
          li 10:45 setting up dev env <span class="bullet">(francisco)</span>
          li <em>[snacks, because git clone takes forever]</em>
          li 12:00 getting your code on the phone <span class="bullet">(guillaume)</span>
          li 12:30 lunch <span class="bullet">(everyone)</span>
          li 13:30 BUG SQUASHING
          li 20:00 go home

      section
        h1.bullet Tomorrow
        ul
          li 10:30 MORE BUG SQUASHING
          li 12:30 lunch~
          li 13:30 SQUASH SQUASH SQUASH

      section
        h1.bullet Notes
        h2.bullet <a href="https://etherpad.mozilla.org/firefoxos-bsp-london">https://etherpad.mozilla.org/firefoxos-bsp-london</a>
        h3.bullet EVERYONE CAN EDIT
        ul
          li collaboratively take notes of each session
          li add interesting links
          li resources
          li praise us
          li etc!

      
    script(src='build/build.js')
